<div *ngIf="account" >
  <h2>Account: {{account.name}}</h2>
  <ul class="nav nav-pills" >
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['assets', { name: account.name, url: account.properties.apiEndpoints[0].endpoint }]" >Assets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['channels']" >Channels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['jobs']">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['locators']">Locators</a>
    </li>
  </ul>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
<div>